body
{
   background-size: cover;
   background-position: center;
}

canvas
{
   box-shadow: 10px 10px 10px rgb(142, 118, 200);
   border-radius: 10px;
}

#button1
{
    border: none;
    color: rgb(61, 11, 102);
    padding: 15px;
    text-align: center;
    font-size: 10px;
}

#button2
{
    border: none;
    color: rgb(61, 11, 102);
    padding: 15px;
    text-align: center;
    font-size: 10px;
}

#button3
{
    border: none;
    color: rgb(61, 11, 102);
    padding: 15px;
    text-align: center;
    font-size: 10px;
}

#button4
{
    border: none;
    color: rgb(61, 11, 102);
    padding: 15px;
    text-align: center;
    font-size: 10px;
}

#button5
{
    border: none;
    color: rgb(61, 11, 102);
    padding: 15px;
    text-align: center;
    font-size: 10px;
}

#button6
{
    border: none;
    color: rgb(61, 11, 102);
    padding: 15px;
    text-align: center;
    font-size: 10px;
}
